:root {
  --black:   #1C1C1C;
  --blue:    #7CBAE1;
  --green:   #82E7AB;
  --gray-dk: #2C3338;
  --gray-md: #545D65;
  --gray-lt: #95999B;
  --red:     #F94E55;
  --yellow:  #FFC46A;

  --radius-lg: 8px;
  --radius-sm: 4px;

  --font-lg: 24px;
  --font-sm: 12px;

  --inner-shadow: 0 2px 0 #111 inset;
  --outer-shadow: 0 6px 0 -2px rgba(25, 27, 30, 0.5);
  --outer-shadow-pressed: 0 4px 0 -2px rgba(25, 27, 30, 0.5);

  --bolt: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none"><circle cx="6" cy="6" r="4" stroke="%23191B1E" stroke-width="4"/></svg>');
  --thumb: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="10" fill="%233B4248"><path d="M1 10a1 1 0 010-2h6a1 1 0 010 2H1zM1 6a1 1 0 110-2h6a1 1 0 010 2H1zM1 2a1 1 0 110-2h6a1 1 0 010 2H1z"/></svg>')
}

* {
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
  font-family: 'Roboto Mono', monospace;
  margin: 16px;
}

main {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: auto;
  min-width: 1024px;
  width: calc(100vw - 32px);
  position: relative;
}

main:after {
  content: '';
  position: absolute;
  background: var(--black);
  width: calc(100% - 16px);
  height: 100%;
  transform: translate(8px, 8px);
  border-radius: 8px;
}

section {
  background:
    var(--bolt) 8px 8px no-repeat,
    var(--bolt) calc(100% - 8px) 8px no-repeat,
    var(--bolt) 8px calc(100% - 8px) no-repeat,
    var(--bolt) calc(100% - 8px) calc(100% - 8px) no-repeat,
    var(--gray-dk);
  border-radius: 8px;
  padding: 32px;
  z-index: 5;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #fff;
  line-height: 1.2;
  margin: 0;
  opacity: 0.9;
  text-align: center;
  user-select: none;
}

h1 {
  font-size: 32px;
  font-variation-settings: 'wght' 700;
}

h2 {
  font-size: 14px;
  font-variation-settings: 'wght' 400;
}



.field {
  position: relative;
}

.btn {
  background: transparent;
  border-radius: var(--radius-sm);
  border: 0;
  box-shadow: var(--outer-shadow);
  color: inherit;
  cursor: pointer;
  font-size: var(--font-sm);
  font-family: inherit;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-align: center;
  user-select: none;
}

.btn-generate {
  background: var(--gray-md);
  height: 43px;
  width: 100%;
}

.btn-share {
  background: transparent;
  border: 0;
  color: var(--green);
  cursor: pointer;
  line-height: 1;
  padding: 0;
}

.label {
  color: var(--gray-lt);
  display: block;
  font-size: var(--font-sm);
  line-height: 1;
  margin-bottom: 8px;
  text-align: center;
  user-select: none;
  width: 100%;
}

.legend {
  border-bottom: 2px solid var(--gray-lt);
  margin: 0 auto 12px;
  padding-bottom: 8px;
  position: relative;
  user-select: none;
  width: 50%;
}

.legend:before {
  border-color: var(--gray-lt) transparent;
  border-style: solid;
  border-width: 0px 4px 4px;
  bottom: 0;
  content: '';
  left: calc(50% - 4px);
  position: absolute;
}

.input {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  background: var(--black);
  border: 0;
  border-radius: var(--radius-sm);
  box-shadow: var(--inner-shadow);
  color: var(--yellow);
  display: block;
  font-size: var(--font-lg);
  height: 48px;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}



.output {
  background: transparent;
  border: 0;
  color: var(--yellow);
  display: block;
  font-size: var(--font-lg);
  line-height: 1;
  margin: 0;
  padding: 0;
  text-align: center;
  user-select: none;
}



/*   Toggle Switch  */


.toggle {
  position: relative;
}

.toggle-input {
  clip: rect(0, 0, 0, 0);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}

.toggle-label {
  align-items: center;
  background: var(--gray-md);
  border: 0;
  border-radius: var(--radius-sm);
  box-shadow: var(--outer-shadow);
  cursor: pointer;
  display: flex;
  font-size: var(--font-sm);
  justify-content: center;
  height: 72px;
  line-height: 1;
  overflow: hidden;
  padding: 0;
  position: relative;
  user-select: none;
  width: 100%;
}

.toggle-label-sm {
  height: 24px;
  margin: 0 auto;
  width: 24px;
}

.toggle-label span {
  align-items: center;
  display: flex;
  left: 0;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.toggle-input:checked + .toggle-label {
  background: var(--yellow);
  box-shadow: var(--outer-shadow-pressed);
  transform: translateY(2px);
}

.toggle-play {
  background: var(--green);
  height: 64px;
  margin: 0 auto;
  width: 96px;
}

.toggle-input:checked + .toggle-play {
  background: var(--red);
  box-shadow: var(--outer-shadow-pressed);
  transform: translateY(2px);
}



/*  Slider  */

.slider-wrapper {
  height: 128px;
  margin: 0 auto;
  width: 32px;
}

.slider {
  appearance: none;
  background: transparent;
  margin: 0;
  outline: none;
  transform: rotate(-90deg);
  transform-origin: 64px 64px;
}

.slider::-moz-range-track {
  background: var(--black);
  border-radius: 2px;
  border: 0;
  box-shadow: -2px 0 0 #111 inset;
  cursor: pointer;
  height: 16px;
  margin: 0;
  padding: 0;
  transform: translateY(8px);
}

.slider::-webkit-slider-runnable-track {
  background: var(--black);
  border-radius: 2px;
  border: 0;
  box-shadow: -2px 0 0 #111 inset;
  cursor: pointer;
  height: 16px;
  margin: 0;
  padding: 0;
  transform: translateY(8px);
}

.slider::-moz-range-thumb {
  appearance: none;
  background: var(--gray-md) var(--thumb) 50% 50% no-repeat;
  border: 0;
  border-radius: 4px;
  box-shadow: -6px 0 0 -2px rgba(25, 27, 30, 0.5);
  cursor: pointer;
  height: 32px;
  width: 24px;
  transform: translateY(8px);
}

.slider::-webkit-slider-thumb {
  appearance: none;
  background: var(--gray-md) var(--thumb) 50% 50% no-repeat;
  border: 0;
  border-radius: 4px;
  box-shadow: -6px 0 0 -2px rgba(25, 27, 30, 0.5);
  cursor: pointer;
  height: 32px;
  width: 24px;
  transform: translateY(-8px);
}



/*  Grids  */

.grid2 {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(2, 1fr);
}

.grid3 {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, 1fr);
}



#key {
  cursor: pointer;
  line-height: 48px;
}

#keys {
  background: var(--black);
  outline: 4px solid var(--gray-dk);
  border-radius: var(--radius-sm);
  box-shadow: var(--inner-shadow);
  height: 174px;
  line-height: 29px;
  margin-top: 0;
  overflow: scroll;
  padding: 4px 0;
  position: absolute;
  top: 20px;
  transition: height 0.2s;
  width: 100%;
  z-index: 5;
}

#keys[hidden] {
  outline: 0;
  display: block;
  height: 0;
  transition: none;
}

#keys label {
  border-radius: 2px;
  color: var(--yellow);
  cursor: pointer;
  display: block;
  font-size: var(--font-lg);
  margin: 4px 8px;
  position: relative;
  text-align: center;
  user-select: none;
}

#keys label:hover {
  background: var(--yellow);
  color: var(--black);
}

#keys input {
  clip: rect(0, 0, 0, 0);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}

#keys input:checked + label {
  background: var(--yellow);
  color: var(--black);
}

#input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#output {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(2, auto);
}

#playback {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 24px 0;
}

#display {
  background: var(--black);
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

#meta {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#viz {
  flex: 1 0 auto;
  width: 100%;
}

#sliders {
  display: flex;
  justify-content: space-around;
}



/*  Atomic  */

.mb4  { margin-bottom: 4px; }
.mb8  { margin-bottom: 8px; }
.mb24 { margin-bottom: 24px; }
.mr24 { margin-right: 24px; }

.ib { display: inline-block; }
